USE [stonetest]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 2021/5/31 14:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[employees](
	[id] [int] NOT NULL,
	[name] [varchar](50) NULL,
	[gender] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[phonenumber] [varchar](50) NULL,
	[city] [varchar](50) NULL,
 CONSTRAINT [pk_employees] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[employees] ([id], [name], [gender], [email], [phonenumber], [city]) VALUES (1, N'Vanya', N'Female', N'vwhipple0@craigslist.org', N'864-125-0832', N'Bellavista')
INSERT [dbo].[employees] ([id], [name], [gender], [email], [phonenumber], [city]) VALUES (2, N'Alaine', N'Female', N'asein1@t-online.de', N'303-955-0740', N'Aurora')
INSERT [dbo].[employees] ([id], [name], [gender], [email], [phonenumber], [city]) VALUES (3, N'Jermaine', N'Male', N'jcrippell2@mac.com', N'208-827-3256', N'Srebrenik')
GO
